@using Microsoft.AspNetCore.Identity
@using ExpenseTracker_NguyenKimTien_21K4080052.Areas.Identity.Data
@inject UserManager<WebApplication1User> UserManager
@inject SignInManager<WebApplication1User> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/26.1.35/material.css" />*@
    <link href="https://cdn.syncfusion.com/ej2/20.1.55/bootstrap5-dark.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

    <script src="https://cdn.syncfusion.com/ej2/26.1.35/dist/ej2.min.js"></script>
</head>
<body class="e-bigger">

    <partial name="_SideBar" />

    <div class="dock-target">

        <nav class="navbar sticky-top">
            <div class="container-fluid py-2 px-4">
                <i class="fa-solid fa-magnifying-glass"></i>
                <div class="dropdown">
                    <i class="fa-solid fa-bell"></i>
                    <i class="fa-solid fa-message"></i>
                    <img class="profile-pic dropdown-toggle" src="~/user.png" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" />
                    <div class="dropdown-menu dropdown-menu-end p-3 custom-dropdown" aria-labelledby="profileDropdown" style="width: 310px;">
                        <div class="d-flex align-items-center mb-3">
                            <img src="~/user.png" class="rounded-circle me-2" style="width: 70px; height: 70px;" />
                            <div>
                                <strong>
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        var user = await UserManager.GetUserAsync(User);
                                        <text>@user.FirstName @user.LastName</text>
                                    }
                                    else
                                    {
                                        <text>Guest</text>
                                    }
                                </strong><br />
                                <partial name="_LoginPartial.cshtml" />
                            </div>
                        </div>
                        <a class="dropdown-item" href="#">
                            <i class="fa-solid fa-gear me-2"></i>Cài đặt tài khoản
                        </a>
                        <a class="dropdown-item" href="#" onclick="document.getElementById('logoutForm').submit();">
                            <i class="fa-solid fa-sign-out-alt me-2"></i>Đăng xuất
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="main-content">
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="@(ViewData["isDashboard"] == null?"col-md-10":"col-md-12")">
                        <main role="main" class="pb-3">
                            @if (ViewData["isDashboard"] == null)
                            {
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="d-flex flex-column mb-5">
                                            <div class="d-flex mb-1">
                                                <div class="flex-grow-1">
                                                    <h3 class="fw-bold">@ViewData["PageTitle"]</h3>
                                                </div>
                                                <div>
                                                    @if (ViewData["PageActionText"] != null)
                                                    {
                                                        <a class="btn btn-success" href="@ViewData["PageActionUrl"]">
                                                            @ViewData["PageActionText"]
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                            <ejs-breadcrumb id="breadcrumb"
                                                        separatorTemplate="@Html.Raw("<span class='fa-solid fa-angle-right'></span>")"></ejs-breadcrumb>
                                        </div>
                                    </div>
                                </div>
                            }
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <ejs-scripts></ejs-scripts>
</body>
</html>
